.about-section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  padding: 1rem;
}

.about-title {
  letter-spacing: 2px;
  text-align: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.point {
  background-color: #781c69;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.link {
  text-decoration: underline;
  letter-spacing: 1.5px;
}

.link:hover {
  color: #eee;
}

@media only screen and (min-width: 800px) {
  .about-section {
    padding: 1.5rem;
  }

  .about-content {
    font-size: 1.05rem;
  }
}

@media only screen and (min-width: 1200px) {
  .about-section {
    padding: 1.75rem 1rem;
  }

  .point {
    font-size: 1.15rem;
  }
}
