.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .btn-container {
    width: 80%;
  }
}

@media only screen and (min-width: 800px) {
  .btn-container {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
  }
}
