.question-answer {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.question {
  font-weight: 600;
  word-wrap: break-word;
  word-break: normal;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
  padding: 1.75rem;
}

.option-btn {
  background-color: transparent;
  outline: none;
  border: 2px solid #319da0;
  width: 250px;
  padding: 1rem;
}

.option-btn:hover,
.option-btn:focus {
  border-color: #333;
}

.option-btn:active {
  transform: scale(0.9);
}
