main {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.score span {
  color: #319da0;
}

.btn-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  background-color: #319da0;
  border-radius: 4px;
  font-size: 1.25rem;
  color: #fff;
}

.btn:hover {
  text-decoration: underline;
}

.btn:active {
  transform: scale(0.9);
  text-decoration: none;
}
