*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff5e1;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0.5rem 1.25rem;
  text-transform: capitalize;
  letter-spacing: 1.75px;
  font-weight: 600;
  font-size: inherit;
  border-radius: 4px;
  transition: 0.25s;
}
