@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff5e1;
  font-family: "Roboto Slab", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
input {
  padding: 0.5rem 1.25rem;
  font-size: inherit;
  border-radius: 4px;
}

button {
  text-transform: capitalize;
  letter-spacing: 1.75px;
  font-weight: normal;
  transition: 0.25s;
}
